# Database
DATABASE_URL="postgresql://postgres:[PASSWORD]@[HOST]:5432/postgres"
DIRECT_URL="postgresql://postgres:[PASSWORD]@[HOST]:5432/postgres"

# Supabase
SUPABASE_URL="https://tuutaixcohouimlzuivg.supabase.co"
SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""

# Client Side Supabase (Vite)
VITE_SUPABASE_URL="https://tuutaixcohouimlzuivg.supabase.co"
VITE_SUPABASE_ANON_KEY=""

# App
PORT=3000
NODE_ENV=development
